*

{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #fff;
}

 h1 /*MUSIFY TEXT*/
{
    text-align: center;
    padding-top: 20PX;
    font-size: 100PX;
    font-family:fantasy ;
    color:#f1f1f1;
}

/*--------------------------------------------------------------*/

footer /*ALL RGHTS RESERVED TEXT AREA*/
{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*-------------------------------------------------------------*/

sidebar /*ICON BAR TO THE LEFT*/
{
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 15px;
}
  
.sidebar a 
{
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: #4aa75e;
    display: block;
    margin-left: 20px;
    margin-right: 5px;
}
  
.sidebar a:hover 
{
    color: #f1f1f1;
}
  
.sidebar .tooltiptext 
{
    visibility: hidden;
    width: 80px;
    background-color: #4e4e4e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border-color:#4e4e4e;
    padding: 5px 0;
    position: fixed;
    z-index: 1;
    opacity: 0;
    transition: opacity 2s;
    white-space: nowrap;
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
}


.sidebar a:hover .tooltiptext
{
    visibility: visible;
    font-size: 10px;
    opacity: 1;
  
}


@media screen and (max-height: 450px) 
{
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
 
/*-----------------------------------------------------------*/

.main /*DIV SHAPING*/
{
    margin-left: 100px; 
    padding:20px;
}


#music-library /*GREYISH BACKGROUND*/
{
    border: 1px solid #282828;
    padding: 20px;
    background-color: #282828;
    
}

#music-library h2 /*HOME TEXT*/
{
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    text-align: left;
}

#music-library h3 /*ARTIST TEXT*/
{
  margin-bottom: 5px;
}

/*-------------------------------------------------------------------*/

h2
{
text-align: center;
margin-top: 20px;
font-family: fantasy;
font-weight: 100;
font-size: 40px;
}


.audio
{
  margin-left: 120px;
  margin-top: 50px;
}

#audio-styling .h4
{
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

#audio-styling2 .h4
{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}